# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
db.sqlite3
.env

# Virtual Environment
venv/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Static / Media (optional)
staticfiles/
media/
